n8n workflows/n8n_workflow_demo.json
{
  "name": "Demo Final Orquestador (CNN + Clima + LLM)",
  "nodes": [
    {
      "parameters": {
        "path": "demo-agricola",
        "formTitle": "Análisis Agrícola con IA",
        "formDescription": "Sube una imagen de una hoja para diagnosticar su patología.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "file",
              "fieldType": "file",
              "requiredField": true,
              "acceptFileTypes": "image/*"
            }
          ]
        },
        "options": {}
      },
      "id": "form-trigger-1",
      "name": "Subir Imagen (UI)",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [ 100, 300 ],
      "webhookId": "agricola-demo-webhook-id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8001/predecir_muestra",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "form-data-binary",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "abc12-http-vision",
      "name": "CNN Inferencia (FastAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 300, 300 ]
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "Santiago"
            },
            {
              "name": "appid",
              "value": "TU_API_KEY_DE_OPENWEATHERMAP"
            },
            {
              "name": "units",
              "value": "metric"
            }
          ]
        },
        "options": {}
      },
      "id": "abc12-http-clima",
      "name": "API Clima (OpenWeather)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 500, 300 ]
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "options": {},
        "prompt": "Eres un Agrónomo Experto. Evalúa los siguientes datos y entrega una recomendación de tratamiento.\n\n- Diagnóstico de la CNN: {{$node[\"CNN Inferencia (FastAPI)\"].json[\"diagnostico\"]}}\n- Confianza: {{$node[\"CNN Inferencia (FastAPI)\"].json[\"confianza\"]}}\n- Clima Actual en Santiago: {{$json[\"weather\"][0][\"description\"]}} (Temp: {{$json[\"main\"][\"temp\"]}}°C)\n\nReglas:\n- Si hay lluvia (rain), NO aplicar pesticidas.\n- Si la confianza es menor a 0.6, pedir inspección humana.\n\nResponde en formato estructurado."
      },
      "id": "def34-gemini",
      "name": "Agrónomo (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [ 700, 300 ]
    }
  ],
  "connections": {
    "Subir Imagen (UI)": {
      "main": [ [ { "node": "CNN Inferencia (FastAPI)", "type": "main", "index": 0 } ] ]
    },
    "CNN Inferencia (FastAPI)": {
      "main": [ [ { "node": "API Clima (OpenWeather)", "type": "main", "index": 0 } ] ]
    },
    "API Clima (OpenWeather)": {
      "main": [ [ { "node": "Agrónomo (Gemini)", "type": "main", "index": 0 } ] ]
    }
  }
}
