n8n workflows/n8n_workflow_final.json
{
  "name": "Proyecto Final Orquestador (CNN + Clima + LLM)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "diagnostico",
        "options": {}
      },
      "id": "e4567-webhook",
      "name": "Recibir Imagen (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 100, 300 ],
      "webhookId": "9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8001/predecir_muestra",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{$binary.data}}",
              "parameterType": "form-data"
            }
          ]
        },
        "options": {}
      },
      "id": "abc12-http-vision",
      "name": "CNN Inferencia (FastAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 320, 300 ]
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{$node[\"Recibir Imagen (Webhook)\"].json[\"body\"][\"ciudad\"]}}"
            },
            {
              "name": "appid",
              "value": "TU_API_KEY_DE_OPENWEATHERMAP"
            },
            {
              "name": "units",
              "value": "metric"
            }
          ]
        },
        "options": {}
      },
      "id": "abc12-http-clima",
      "name": "API Clima (OpenWeather)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 540, 300 ]
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "options": {},
        "prompt": "Eres un Agrónomo Experto. Evalúa los siguientes datos y entrega una recomendación de tratamiento.\n\n- Diagnóstico de la CNN: {{$node[\"CNN Inferencia (FastAPI)\"].json[\"diagnostico\"]}}\n- Confianza: {{$node[\"CNN Inferencia (FastAPI)\"].json[\"confianza\"]}}\n- Clima Actual: {{$json[\"weather\"][0][\"description\"]}} (Temp: {{$json[\"main\"][\"temp\"]}}°C)\n\nReglas:\n- Si hay lluvia (rain), NO aplicar pesticidas.\n- Si la confianza es menor a 0.6, pedir inspección humana.\n\nResponde en formato estructurado."
      },
      "id": "def34-gemini",
      "name": "Agrónomo (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [ 760, 300 ]
    }
  ],
  "connections": {
    "Recibir Imagen (Webhook)": {
      "main": [ [ { "node": "CNN Inferencia (FastAPI)", "type": "main", "index": 0 } ] ]
    },
    "CNN Inferencia (FastAPI)": {
      "main": [ [ { "node": "API Clima (OpenWeather)", "type": "main", "index": 0 } ] ]
    },
    "API Clima (OpenWeather)": {
      "main": [ [ { "node": "Agrónomo (Gemini)", "type": "main", "index": 0 } ] ]
    }
  }
}
